.footer {
    margin-top: 50px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} 

.footer svg {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 0px;
    color: #f1f1f1;
}


.footer {
    background-color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 13%;
}